params {
    input = null
    outdir = './results'
    input_directory = null
    platform = 'generic'
    sdrf_file = null
    remove_decoy = true
    decoy_affix = 'DECOY_'
    contaminant_affix = 'CONT_'
    affix_type = 'prefix'
    condition_column = null
    disable_table = false
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
